output_file.txt
../.pytest_cache/
../process_pablo_test.py
process_pablo_test.py
output.tar.gz
output
practical_tool_pablo_run.py
../process_pablo_test.py
../.pytest_cache/v/cache/lastfailed
../genomes/
../genomes
makeRmapFileTool_hicup.py
baits.fa
tests.sh
output_test/
scripts/SRR3535023_1_2.hicup.bam
../scripts/SRR3535023_1_2.hicup.bam
aligner_utils.py
common.py
gem_indexer.py
.Rhistory
