tb.Human.GCA_000001405.21.fasta.gem tb.Human.GCA_000001405.21.fasta.log
tb.Human.GCA_000001405.21.fasta.gem
tb.Human.GCA_000001405.21.fasta.log
toy_GRCh38.gem
toy_GRCh38.fasta.gem toy_GRCh38.fasta.log
toy_GRCh38.fasta.gem
toy_GRCh38.fasta.log
